<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Generate Karaoke</title>
</head>
<body>
    
    <h1>Generator</h1>

    <form method="post" action="/send/" enctype="multipart/form-data">
        <div>
            <div>
                <span>Music</span>
                <input type="file">
            </div>
            
            <div>
                <span>Lyrics</span>
                <button type="submit">Generate Lyrics</button>
            </div>
        </div>
</form>


</body>
</html>