<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <title>Synchronize song</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="bg-dark text-white d-flex justify-content-center align-items-center">
    {%csrf_token%}
    {% load static  %}

    <div class="fixed-top">
        <div>
        <button id="BotonVolver" class="btn btn-dark text-white">
          <a href="{% url 'generate-karaoke' %}" style="color:white">
            <i class='bx bx-chevron-left'>
              <span>Volver</span>
            </i>
          </a>
        </button>
    </div>
    </div>   

<div class="mb-5 justify-content-center align-items-center"> 
    <div class="pb-5 pt-5 container">
        <h1>Synchronize song</h1>
    </div>

    <div class="spinner-border text-light container" role="status" id="loader" style="display:none">
        <span class="sr-only"></span>
      </div>

    <div class="container" id="synchro">
        <div class="d-flex">
            <audio id="audio" controls>
                <source src="{{song}}">
            </audio>

            <div class="d-flex">
                <button class="btn btn-light" id="synchronize" onclick="start()">Synchronize</button>
            </div>

        </div>
        <div class="container pb-3 pt-3 d-flexbox" id="lyrics">
            {% for words in lyrics %}
            <div id="sentence">
                <span class="word"> {{words}} </span>
            </div>
            {% endfor %}
        </div>

        <div class="container">
            <form>
            </form>
        </div>
        
    </div>
</div> 
    <script>
        const image_path = "{{image_path}}"
    </script>
    <script type="text/javascript" src="{% static "js/synchronize.js" %}"></script>
</body>
</html>
